<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #header {
            width: 1250px;
            height: 100px;
            background: #000;
        }
        #contents
        #layout1
        #layout2
        #contents_layout3
        #contents_layout4
        #contents_layout5
        #footer

    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <section id="contents"></section>
        <section id="layout1"></section>
        <section id="layout2"></section>
        <section id="contents_layout3"></section>
        <section id="contents_layout4"></section>
        <section id="contents_layout5"></section>
        <footer id="footer"></footer>
    </div>
</body>
</html>