@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}
html {
    cursor: url("cursor.svg") auto;
   
}
*{
    margin: 0;
    padding: 0;
    font-family: 'LABDigital';    
} 
header {
    background: rgb(120, 67, 182);
}
#header h1 {
    font-size: 20px;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
}
body {
    cursor: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header {
    height: 30px;
    background: rgba(41, 22, 22, 0.4);
    position: relative;
}
#header div {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    margin-top: 3px;
}

.img img {
    width: 40px;
    padding-top: 10px;
}
.icon {
    position: absolute;
    text-align: center;
}
.icon a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(140deg, #7d72e0 30%, #8e84e9 50%, rgba(255,255,255,.6) 70%);
    transition: all 0.3s;
}
.icon a span {
    position: absolute;
    left: 50%; bottom: -20px;
    transform: translateX(-50%);
    background: rgb(49, 248, 204);
    padding: 0 10px;
    white-space: nowrap;
}
.icon1 {
    left: 100px;
    top: 100px;
}
.icon2 {
    left: 200px;
    top: 100px;
}
.icon3 {
    left: 330px;
    top: 100px;
}

.icons {
    position: absolute;
    text-align: center;
}
.icons a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    transition: all 0.3s;
}
.icons a span {
    position: absolute;
    left: 50%; bottom: -20px;
    transform: translateX(-50%);
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    padding: 0 10px;
    white-space: nowrap;
}

.icon4 {
    right: 100px;
    top: 100px;
}
.icon5 {
    right: 220px;
    top: 100px;
}
.icon6 {
    right: 330px;
    top: 100px;
}
.musicBox {
    position: absolute;
    right: -500px;
    top: 10px;
    width: 400px;
    height: 700px;
    transition: all 0.4s;
}
.musicBox.show {
    right: 10px;
}
iframe {
    width: 100%;
    height: 100%;
}
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 50px;
    user-select: none;
    pointer-events: none;
}

.typing {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -300%;
    margin: auto;
    width: 1000px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.typing.show {
    right: 1%;
}

.memoryBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 600px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}

.memoryBox.show {
  right: 1%;
}


.PHP {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 50%;
    height: 60%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.PHP.show {
    right: 1%;
  }

.React {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.React.show {
    right: 1%;
}


.Web {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -200%;
    margin: auto;
    width: 70%;
    height: 60%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 10px 0 rgba(0,0,0,0.17);
    transition: all 1s;
}
.Web.show {
    right: 1%;
}