
.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.ir_wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100px;
    height: 100px;
}
.ir_so {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

* {
    margin: 0;
    margin: 0 auto;
    font-family: 'NexonLv1Gothic';
}
body {
    background-color: #e9e5bd !important;
}
#wrap {
    width: 100%;
   
}


#header {
    width: 100%;
    height: 70px;
}
#header .menu {
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: background 0.4s;
    text-decoration: none;
    color: #000;
}

#header .menu li a:hover {
    background: #f5f5f5;
    border-radius: 10px;
}
#header .menu li a:hover {
    border-bottom: 1px solid #000;
    text-decoration: underline;
}


#banner {
    width: 100%;
    height: 1080px;
    position: relative;
}
.banner__container {
    width: 1200px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
}
.img1 {
    width: 100%;
    height: 210px;
    background: url(../img/honey1.png)no-repeat center center;
    background-size: cover;
    position: absolute;

}
.banner_logo {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
}
.banner__container .logo {
    width: 556px;
    height: 225px;
    background: url(../img/logo.png)no-repeat center center;

}
.banner__container .name {
    font-size: 64px;
    color: #a7937b;
}
.banner__container .textMain {
    font-size: 96px;
    color: #987c28;
    white-space: nowrap;
    margin-left: -80px;
}

.banner_text {
    display: flex;
    justify-content:space-between

}
.banner_text .text2 {
    font-size: 96px;
    color: #987c28;
    margin-right: 190px;
}
.honey_img {
    width: 220px;
    height: 117px;
    background: url(../img/honey4.png);
    position: absolute;
    top: 52%;
    right: 40%;
}
.banner_text .text3 {
    font-size: 96px;
    color: #987c28;
    margin-left: 50px;
}
#banner .img3 {
    position: absolute;
    width: 100%;
    height: 340px;
    background: url(../img/honey2.png)no-repeat center center;
    background-size: cover;
    bottom:0;
}

#imgText_type01 {
    width:  100%;
}
.imgText1__container {
    width: 1200px;
    height: 900px;
    position: relative;
}
.imgText1__container .Text1__name {
    font-size: 50px;
    font-weight: normal;
    display: inline-block;
    margin-top: 142px;
    margin-left: 200px
}
.Text1__name::after {
    content: '';
    position: absolute;
    left: -669px; top: 92px;
    width: 1075px;
    height: 1px;
    background-color: #000;
    margin-top: 110px;
}
.imgText1__container .Text1__text1 {
    font-size: 27px;
    color: #411700;
    margin-top: 143px;
}
.imgText1__container .Text1__text2 {
    font-size: 25px;
    color: #d65109;
    margin-top: 61px;
}
.imgText1__container .Text1_img1 {
    background:url(../img/편의점.png)no-repeat;
    width: 715px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 20%;
}

#imgText_type02 {
    width:  100%;
}
.imgText2__container {
    width: 1200px;
    height: 900px;
    position: relative;
}
.imgText2__container .Text2__name {
    font-size: 50px;
    font-weight: normal;
    display: inline-block;
    margin-top: 142px;
    margin-left: 800px;
}
.Text2__name::after {
    content: '';
    position: absolute;
    left: 800px;
    top: 92px;
    width: 1060px;
    height: 1px;
    background-color: #000;
    margin-top: 110px;
}
.imgText2__container .Text2__text1 {
    font-size: 27px;
    color: #411700;
    margin-top: 143px;
    margin-left: 706px;
}

.imgText2__container .Text2_img1 {
    background:url(../img/사용자조사.png)no-repeat;
    width: 660px;
    height: 420px;
    position: absolute;
    left: 0;
    top: 25%;
}






#img_type01 {
    width:  100%;
    height: 900px;
}
#img_type01 .container {
    width: 1200px;
    height: 900px;
}



#imgText__type04 {
    width:  100%;
    height: 900px;
    position: relative;
}
.imgText4__container {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-color: #e9e5bd !important;
}
.imgText4__container .img_Text {
    font-size: 50px;
    position: absolute;
    top: 120px;
    font-weight: normal;
}

.img__three {
    display: flex;
}
.imgText4__container .imgText1 {
    width: 400px;
    height: 330px;
    background: url(../img/img01.png) no-repeat;
    display: inline-block;
    margin-top: 264px;
    margin-left: 20px;
}
.imgText4__container .imgText2 {
    width: 400px;
    height: 330px;
    background: url(../img/img02.png) no-repeat;
    display: inline-block;
    margin-top: 418px;
    margin-left: 20px;

}
.imgText4__container .imgText3 {
    width: 400px;
    height: 330px;
    background: url(../img/img03.png) no-repeat;
    display: inline-block;
    margin-top: 264px;
    margin-left: 20px;
}
.img__three h3 {
    font-size: 27px;
    color: #411700;
}
.imgText1 h3 {
    margin-top: 369px;
}
.imgText1 p {
    padding-top: 35px;
}
.imgText2 h3 {
   position: relative;
   top: -160px;
}
.imgText2 p {
    position: relative;
    top: -125px;
}
.imgText3 h3 {
    margin-top: 369px;
}
.imgText3 p {
    padding-top: 35px;
}
.img__three p {
    font-size: 20px;
    color: #411700;
}


#imgText_type05 {
    width:  100%;
}
.imgText5__container {
    width: 1200px ;
    height: 900px ;
    position: relative;
    background-color: #e9e5bd !important;
}
.imgText5__container .Text5__name {
    font-size: 50px;
    font-weight: normal;
    display: inline-block;
    margin-top: 142px;
    margin-left: 800px
}
.Text5__name::after {
    content: '';
    position: absolute;
    left: 800px;
    top: 92px;
    width: 1060px;
    height: 1px;
    background-color: #000;
    margin-top: 110px;
}
.subtitle {
    font-size: 40px;
    color: #411700;
    font-weight: 300;
    margin-left: 710px;
    margin-top: 156px;
}
.imgText5__container .Text5__text1 {
    font-size: 27px;
    color: #411700;
    margin-top: 35px;
    margin-left: 706px;
    font-weight: 300;
}

.imgText5__container .img {
    background:url(../img/img04.png)no-repeat;
    width: 660px;
    height: 420px;
    position: absolute;
    left: 0;
    top: 25%;
}



#imgText__type06 {
    width:  100%;
}
.imgText6__container {
    width: 1200px;
    height: 900px;
    position: relative;
}
.imgText6__container .type06__subtitle {
    font-size: 40px;
    color: #411700;
    font-weight: 300;
    display: inline-block;
    margin-top: 105px;
}
.imgText6__container .Text6__text1 {
    font-size: 27px;
    color: #411700;
    margin-top: 20px;
}
.imgText6__container .imgText6_img1 {
    background:url(../img/img05.png)no-repeat;
    width: 715px;
    height: 480px;
    position: absolute;
    left: 40%;
    top: 20%;
}
.imgText6_img2 {
    background: url(../img/img06.png)no-repeat;
    width: 548px;
    height: 320px;
    position: absolute;
    margin-top: 53px;
    margin-left: -35px;
}


#img_type02 {
    width: 100%;
}
.img_type02_container {
    width: 1200px;
    height: 1100px;
    position: relative;
}
.img_type02_container .imgtype02_name {
    font-size: 50px;
    font-weight: normal;
    display: inline-block;
    margin-top: 142px;
}
.imgtype02_name::after {
    content: '';
    position: absolute;
    left: -700px; top: 99px;
    width: 1075px;
    height: 1px;
    background-color: #000;
    margin-top: 110px;
}
.Diagram_img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.Diagram_img .Diagram1 {
    width: 394px;
    height: 325px;
    background:url(../img/img07.png)
}
.Diagram_img .Diagram2 {
    width: 394px;
    height: 325px;
    background:url(../img/img08.png)
}
.Diagram_img .Diagram3 {
    width: 394px;
    height: 325px;
    background:url(../img/img09.png)
}
.Diagram_img .Diagram4 {
    width: 394px;
    height: 325px;
    background:url(../img/img10.png)
}
.Diagram_img .Diagram5 {
    width: 394px;
    height: 325px;
    background:url(../img/img11.png)
}
.Diagram_img .Diagram6 {
    width: 394px;
    height: 325px;
    background:url(../img/img12.png)
}



#imgText__type07 {
    width: 100%;
}
.imgText07__container  {
    width: 1200px;
    height: 980px;
    margin: 0 auto;
}
.type07_img {
    background: url(../img/img13.png) no-repeat;
    width: 1238px;
    height: 980px;
    position: absolute;
    margin-top: 150px;
    margin-left:-100px;
}
#imgText__type08 {
    width: 100%;
    height: 1286px;
    background: #fff;
    background:url(../img/img14.png) no-repeat center;
}


#footer {
    width: 100%;
    height: 300px;
    background: #411700;
   
}
.footer_img {
    width: 100%;
    height: 300px;
    background: url(../img/honey1.png) no-repeat;
    background-size: contain;
}


.slider {

}
#slideType02 {
    position: relative;
}
.slider_container .slide_text {
    font-size: 50px !important;
    font-weight: normal !important;
    position: absolute;
    margin-top: 100px;
}
.slider_container {
    width: 1200px;
    height: 900px;
    margin: 0 auto;  
    position: relative;
}
.slide_text::after {
    content: '';
    position: absolute;
    left: -669px; top: -45px;
    width: 1102px;
    height: 1px;
    background-color: #000;
    margin-top: 110px;
}
