.notification {
  font-size: 0.9rem;
  font-family: termina, sans-serif;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #b6916d;
  color: #3c564f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
.notification:hover {
  background: #bcb8ad;
}

.effectimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 10vw;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .reveal {
  visibility: hidden;
  position: relative;

} */

/*  */
/* 
.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
} */

/* * {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  color: #8d8d8d;
  background: #fff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
} */
iframe {
  /* width: 120vh; */
  width: 56vw;
  height: 85vh;
  object-fit: cover;
}

.vertical {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  padding-top: 10rem;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
}
.intro .title {
  display: inline-block;
  /* font-size: 6rem; */
  font-size: 4.9vw;
  font-weight: 500;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  font-family: "Partizeno";
  margin: 1rem;
}
.intro .title .underline {
  color: #3c6b56;
}

.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  /* font-size: 2vh; */
  font-size: 1.5vh;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
  text-align: center;
  font-family: "ChosunNm";
}

.slider-item {
  display: none;
}
.slider-item.active {
  display: block;
}
.slider-item.active .hide-mobile {
  display: none;
}
.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}
/*  */
.slider-items {
  display: none;
}
.slider-items.active {
  display: block;
}
.slider-items.active .hide-mobile {
  display: none;
}
.slider-items.active .show-mobile {
  display: block;
  margin: 1rem 0;
}
/*  */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

/* .controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
}
.controls .previous {
  background-color: #3c6b56;
  position: absolute;
  left: 10%;
  bottom: 60vh;
  transform: translate(-50%, -50%);

  width: 6vw;
  height: 6vw;
  border-radius: 50%;

  border: 1px solid #232323;
}
.controls .next {
  background-color: #3c6b56;
  position: absolute;
  height: 10vw;
  left: 90%;
  bottom: 60vh;
  transform: translate(-50%, -50%);

  width: 6vw;
  height: 6vw;
  border-radius: 50%;

  border: 1px solid #232323;
}
.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 1px;
  background-color: currentColor;
  color: #fff;
}
.controls .icon.arrow-left::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(-135deg);
  color: #fff;
}
.controls .icon.arrow-right::before {
  content: "";
  position: absolute;
  right: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(45deg);
  color: #fff;
}

.previous,
.next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #232323;
} */
.previous:hover .icon,
.next:hover .icon {
  transform: scale(1.5);
}
.previous .icon,
.next .icon {
  transition: transform 0.1s ease;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 62rem) {
  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }

  .intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
  }
  .intro .title {
    font-size: 4.25rem;
    /* padding: 2.5rem 2.5rem 3rem 2.5rem; */
  }

  iframe {
    /* height: 60vh; */
    height: 59vh;
  }

  .description {
    font-size: 1.25rem;
    /* margin: 1rem 0 0 0; */
  }

  .previous,
  .next {
    flex-basis: 8.33%;
  }

  .slider-item.active .hide-mobile {
    display: block;
  }

  .slider-item.active .show-mobile {
    display: none;
  }
  /*  */
  .slider-items.active .hide-mobile {
    display: block;
  }

  .slider-items.active .show-mobile {
    display: none;
  }
  /*  */
  .toggle-nav {
    display: none;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*  */
/* .controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;

  padding: 0.25rem 0 0.25rem 0;
}
.controls .previous {
  border: 1px solid #232323;
}
.controls .previous2 {
  border: 1px solid #232323;
}
.controls .next {
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.controls .next2 {
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.controls .icon {
  position: relative;
  margin: auto;
  width: 20px;
  height: 1px;
  background-color: currentColor;
}
.controls .icon.arrow-left::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(-135deg);
}
.controls .icon.arrow-right::before {
  content: "";
  position: absolute;
  right: 1px;
  top: -4px;
  width: 9px;
  height: 9px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(45deg);
}

.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #232323;
}
.previous2, .next2 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #232323;
}
@media (max-width: 500px) {
   iframe { 
    height: 45vh;
  } 
  .pin-wrap {
    height: 100vh;
  }
} */
