body {
  /* overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
}

/* .carousel {
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.carousel--wrap {
  overflow: hidden;

  white-space: nowrap;
}
.carousel--item {
  display: inline-block;
  width: 38vw;
  padding: 3vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel--item figure {
  position: relative;
  z-index: 1;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.carousel--item figure img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  transform-origin: center;
}
.carousel--item h2 {
  position: absolute;
  z-index: 1;
  bottom: 1.8vw;
  font-size: 6vw;
  bottom: 1vw;
  color: #fff;
}
.carousel--progress {
  position: fixed;
  z-index: 2;
  pointer-events: none;
  bottom: 2vw;
  width: 20vw;
  left: 3vw;
  height: 1px;
  background-color: #ccc;
  display: none;
} */
/* .carousel--progress-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  display: none;
} */

/*  */
.about__slider {
  width: 100%;
  height: 500px;
  display: inline-block
}
.slider img {
  display: block;
  width: 100%;
  height: auto;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  padding: 0;
}
.slider.is-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 55vh;
  pointer-events: none;
}
.about__slider .imgbg {
  background-position: bottom;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
   /* height: 60vh; */
  height: 55vh;
  width: 50vw;
  left: 100px;
  /* width: 58vw; */
}
.slide__bg {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__title {
  position: relative;
  color: #fff;
  font-size: calc(1rem + 3vw);
  font-weight: normal;
  z-index: 2;
}


.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor {
  position: fixed;
  top: -30px;
  left: -30px;
}

@media (max-width: 1000px){
  .slide {
    height: 25vh;
  }
}
@media (max-width: 800px){
  .about__slider  {
    margin-top: -23vh;
  }
}

