body {
  background: #ebebeb;
}
#nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#nav ul li {
  padding: 20px;
}
#nav ul li a {
  font-family: "Jura";
  font-size: 23px;
  font-weight: 100;
  color: #3c6b56;
}

.menu-trigger {
  margin-right: 70px;
  margin-bottom: 50px;
  width: 35px;
  height: 44px;
  display: none;
  position: relative;
  width: 35px;
  height: 44px;
  margin-top: 4vw;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  display: none;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d1c5c5;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 7px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 26px;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(1px) rotate(45deg);
}

/* banner */
#banner {
  /* height: 80vw; */
  height: 1200px;
}
.banner__text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner em {
  font-family: "Partizeno";
  font-size: 20vw;
  color: #3c6b56;
  line-height: 1.3;
  font-weight: 100;
}
#banner strong {
  font-family: "Saint Monica";
  font-size: 2vw;
  line-height: 1.3;
  color: #b99e56;
  font-weight: 100;
  position: absolute;
  bottom: 6vw;
}
.banner__text p {
  position: absolute;
  font-family: "Gmarket Sans";
  line-height: 1.5;
  font-size: 1vw;
  font-weight: 300;
  text-transform: uppercase;
  color: #3c6b56;
  bottom: -8vh;
}
canvas {
  width: 100%;
}
#test1 {
  background: #000;
  height: 800px;
}

@media (max-width: 1000px) {
  .banner__text p {
    margin-left: 10vw;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .banner__text strong {
    display: none;
  }
}
@media (max-width: 540px) {
  #header #nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
    z-index: 99999;
  }
  #header #nav li {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  #nav {
    background-color: rgba(235, 235, 235, 0.76);
  }
  #header #nav ul.active {
    display: block;
    left: 50%;
    top: 43vw;
    background-color: rgba(235, 235, 235, 0.76);
    transform: translate(-50%, -50%);
    position: absolute;
  }
  #header #nav li a {
    font-size: 4vw;
  }
  .menu-trigger span,
  .menu-trigger {
    display: block;
    right: -88vw;
    z-index: 1;
  }
}


/* about */
#about {
  height: 60vw;
}
.about__text {
  padding-bottom: 15vh;
}
.about__cont {
  width: 100%;
}
.about__cont h2 {
  color: #3c6b56;
  font-size: 15vw;
  /* font-size: 25vh; */
  line-height: 1.3;
  font-weight: 100;
  font-family: "Partizeno";
}
.about__cont p {
  line-height: 1.6;
  font-weight: 100;
  color: #3c6b56;
  font-size: 2vh;
  font-family: "ChosunNm";
}
.about__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about__inner:nth-child(1) .about {
  margin: 0 auto;
  margin-left: 1vw;
}
.about__img {
  /*화면 보이는 구간*/
  position: relative;
  width: 800px;
  height: 320px;
}
.about__inner {
  /*이미지 움직이는 영역*/
  position: relative;
  display: flex;
  width: 2400px; /*이미지 총 길이*/
  left: -800px;
}
.about__inner.transition {
  transition: all 600ms;
}
.about {
  width: 800px;
  position: relative;
}

.scrollTop {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
}
.about__text h2 span {
  opacity: 0;
  
}
.about__text h2 span.show  {
  opacity: 1;
  transition-timing-function: linear;
  transition: all  0.3s ease-out;
}
.about__text p span {
  opacity: 0;
  min-width: 1.4vw;
  transition: all 0.9s ease-in-out;  
}

.about__text p span.show {
  opacity: 1;
}

/*  */
#site {
  padding-top: 60vh;
}
#site h3 {
  color: #3c6b56;
  font-size: 15vw;
  line-height: 1.3;
  font-weight: 100;
  font-family: "Partizeno";
}
.site__text ul {
  display: flex;
  margin-bottom: 2vw;
}
.site__text li {
  margin-right: 2vw;
}
.site__text li a {
  font-family: "Partizeno";
  display: inline-block;
  font-size: 1.9rem;
  color: #3c6b56;
}
.site__text p {
  font-weight: 100;
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 2vh;
}
.site__text h3 span {
  opacity: 0;
}
.site__text h3 span.show  {
  opacity: 1;
  /* transition-timing-function: linear; */
  transition-duration: 2s;
  transition: all 0.5s ease-out;
}
.site__text li span {
  opacity: 0;
}
.site__text li span.show  {
  opacity: 1;
  animation: power2-out 2s;
  /* transition-duration: 2s */
  transition: all 0.5s ease-out;
}
.site__text p span {
  opacity: 0;

}
.site__text p span.show  {
  opacity: 1;
  animation: power2-out 1s;
  /* transition-duration: 2s */
  transition: all  5s ease-out;
}
@media (max-width: 820px ) {
  .script__text ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 615px ){
  .game__text ul,
  .site__text ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* card01 */

.card__text01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-top: 10rem;
}
.web__img01 img {
  flex: 0 0 65%;
  z-index: -1;
}
.card__text01 .text {
  margin-top: -1rem;
}
.card__text01 .right {
  flex: 0 0 30%;
}
.card__text01 .right .title {
  font-size: 4.9vw;
  font-weight: 100;
  font-family: "Partizeno";
  text-align: center;
  color: #3C6B56;
}
.card__text01 .right .sub {
  font-family: "ChosunNm";
  /* font-size: 1.2rem; */
  font-size: 2vh;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  width: 90%;
  color: #3C6B56;
}
.card__text01 .web__img01 {
  position: relative;
}
.card__text01 .view {
  /* padding-top: 0.6vw;
  margin-left: 1.6rem; */
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  /* text-align: center; */
}
.card__text01 .view::after {
  content: "VIEW";
  width: 10vw;
  height: 10vw;
  /* left: 52.6%;
  top: 60%; */
  left: 36.5vw;
  top: 23.5vw;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  /* margin-top: 5rem; */
}
.card__text01 .view::before {
  content: "";
  background-color: rgba(60, 107, 86, 0.5);
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}

/* 2 */
.card__text02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-top: 10rem;
  flex-direction: row-reverse
}
.web__img02 img {
  flex: 0 0 65%;
  z-index: -1;
}
.card__text02 .text {
  margin-top: -1rem;
}
.card__text02 .right {
  flex: 0 0 30%;
}
.card__text02 .right .title {
  font-size: 4.9vw;
  font-weight: 100;
  font-family: "Partizeno";
  text-align: center;
  color: #3C6B56;
}
.card__text02 .right .sub {
  font-family: "ChosunNm";
  /* font-size: 1.2rem; */
  font-size: 2vh;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  width: 90%;
  color: #3C6B56;
}
.card__text02 .web__img02 {
  position: relative;
}
.card__text02 .view {
  /* padding-top: 0.6vw;
  margin-left: 1.6rem; */
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  /* text-align: center; */
}
.card__text02 .view::after {
  content: "VIEW";
  width: 10vw;
  height: 10vw;
  left: 52.6%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  /* margin-top: 5rem; */
}
.card__text02 .view::before {
  content: "";
  background-color: rgba(60, 107, 86, 0.5);
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}



/* 3 */
.card__text03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-top: 10rem;
}
.web__img03 img {
  flex: 0 0 65%;
  z-index: -1;
}
.card__text03 .text {
  margin-top: -1rem;
  margin-left: 1rem;
}
.card__text03 .right {
  flex: 0 0 30%;
}
.card__text03 .right .title {
  font-size: 4.9vw;
  font-weight: 100;
  font-family: "Partizeno";
  /* text-align: center; */
  color: #3C6B56;
}
.card__text03 .right .sub {
  font-family: "ChosunNm";
  /* font-size: 1.2rem; */
  font-size: 2vh;
  margin-top: 2vw;
  /* margin-left: 1vw; */
  line-height: 1.6;
  width: 90%;
  color: #3C6B56;
}
.card__text03 .web__img03 {
  position: relative;
}
.card__text03 .view {
  /* padding-top: 0.6vw;
  margin-left: 1.6rem; */
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  /* text-align: center; */
}
.card__text03 .view::after {
  content: "VIEW";
  width: 10vw;
  height: 10vw;
  left: 52.6%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  /* margin-top: 5rem; */
}
.card__text03 .view::before {
  content: "";
  background-color: rgba(60, 107, 86, 0.5);
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}
/* 4 */

.card__text04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-top: 10rem;
  flex-direction: row-reverse
}
.web__img04 img {
  flex: 0 0 65%;
  z-index: -1;
}
.card__text04 .text {
  margin-top: -1rem;
}
.card__text04 .right {
  flex: 0 0 30%;
}
.card__text04 .right .title {
  font-size: 4.9vw;
  font-weight: 100;
  font-family: "Partizeno";
  /* text-align: center; */
  margin-left: 1vw;

  color: #3C6B56;
}
.card__text04 .right .sub {
  font-family: "ChosunNm";
  /* font-size: 1.2rem; */
  font-size: 2vh;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  width: 90%;
  color: #3C6B56;
}
.card__text04 .web__img04 {
  position: relative;
}
.card__text04 .view {
  /* padding-top: 0.6vw;
  margin-left: 1.6rem; */
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  /* text-align: center; */
}
.card__text04 .view::after {
  content: "VIEW";
  width: 10vw;
  height: 10vw;
  left: 52.6%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  /* margin-top: 5rem; */
}
.card__text04 .view::before {
  content: "";
  background-color: rgba(60, 107, 86, 0.5);
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}


/* 5 */
.card__text05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-top: 10rem;
}
.web__img05 img {
  flex: 0 0 65%;
  z-index: -1;
}
.card__text05 .text {
  margin-top: -1rem;
}
.card__text05 .right {
  flex: 0 0 30%;
}
.card__text05 .right .title {
  font-size: 4.9vw;
  font-weight: 100;
  font-family: "Partizeno";
  /* text-align: center; */
  margin-left: 1vw;

  color: #3C6B56;
}
.card__text05 .right .sub {
  font-family: "ChosunNm";
  /* font-size: 1.2rem; */
  font-size: 2vh;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  width: 90%;
  color: #3C6B56;
}
.card__text05 .web__img05 {
  position: relative;
}
.card__text05 .view {
  /* padding-top: 0.6vw;
  margin-left: 1.6rem; */
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute; */
  /* text-align: center; */
}
.card__text05 .view::after {
  content: "VIEW";
  width: 10vw;
  height: 10vw;
  left: 52.6%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
  /* margin-top: 5rem; */
}
.card__text05 .view::before {
  content: "";
  background-color: rgba(60, 107, 86, 0.5);
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}


@media (max-width: 960px) {
  .card__text01,
  .card__text03,
  .card__text05 {
    flex-direction: column;
  }
  .card__text02,
  .card__text04 {
    /* flex-direction: column-reverse; */
    flex-direction: column
  }
  .right {
    margin-top: 5vw;
  }
  .left {
    margin-top: 5vw;
  }
  .card__text01 .view {
    left: 45%;
    margin-left: 1.5vw;
  }
  .view::after  {
    left: 52%;
    top: 56.5%
  }
  .card__text03 .title,
  .card__text04 .title,
  .card__text05 .title {
    text-align: center;
  }
  .card__text01 .text .sub,
  .card__text02 .text .sub,
  .card__text03 .text .sub,
  .card__text04 .text .sub,
  .card__text05 .text .sub {
    text-align: center;
    width: 97%;
  }
  .card__text01 .view::after {
    /* left: 51vw;
    top: 32.9vw; */
    left: 50.2vw;
    top: 33.2vw;
  }
  .card__text02 .view::after,
  .card__text03 .view::after,
  .card__text04 .view::after,
  .card__text05 .view::after {
    left: 50.3vw;
    top: 31.3vw;
  }
}

/* script */
#script {
  padding-top: 60vh;
}
#script h3 {
  color: #3c6b56;
  font-size: 15vw;
  line-height: 1.3;
  font-weight: 100;
  font-family: "Partizeno";
  text-align: right;
}
.script__text ul {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2vw;
}
.script__text li {
  /* margin-right: 2vw; */
  margin-left: 2vw;
}
.script__text li a {
  font-family: "Partizeno";
  display: inline-block;
  font-size: 1.8rem;
  color: #3c6b56;
}
.script__text p {
  /* font-weight: 100;
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 2vh; */
  text-align: right;
  font-weight: 100;
  /* width: 50%; */
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 2vh;
}
.script__text h3 span {
  opacity: 0;
}
.script__text h3 span.show  {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.script__text li span {
  opacity: 0;
}
.script__text li span.show  {
  opacity: 1;
  transition-duration: 2s;
  /* animation: power2-out 5s; */
  transition: all 0.9s ease-out;
}
.script__text p span {
  opacity: 0;
}
.script__text p span.show  {
  opacity: 1;
  /* animation: power2-out 0.1s; */
  transition: all  5s ease-out;
} 

/* game */
#game {
  padding-top: 60vh;
}
#game h3 {
  color: #3c6b56;
  font-size: 15vw;
  line-height: 1.3;
  font-weight: 100;
  font-family: "Partizeno";
}
.game__text ul {
  display: flex;
  margin-bottom: 2vw;
}
.game__text li {
  margin-right: 2vw;
}
.game__text li a {
  font-family: "Partizeno";
  display: inline-block;
  font-size: 1.9rem;
  color: #3c6b56;
}
.game__text p {
  font-weight: 100;
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 2vh;
}

.game__text h3 span {
  opacity: 0; 
}
.game__text h3 span.show  {
  opacity: 1;
  transition-timing-function: linear;
  transition: all  0.3s ease-out;
}
.game__text p span {
  opacity: 0;
  min-width: 1.4vw;
  transition: all 0.9s ease-in-out;  
}

.game__text p span.show {
  opacity: 1;
}
.game__text li span {
  opacity: 0;
}
.game__text li span.show  {
  opacity: 1;
  animation: power2-out 2s;
  /* transition-duration: 2s */
  transition: all 0.5s ease-out;
}
