.horizontal-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
}
h2,h3 {
    font-weight: 100;
}
.section5 {
    width: 100%;
    height: 100vh;
    /* background: #111; */
    color: #fff;
}
.section6 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section6 .pin-wrap > div {
    min-width: 60vw;
}
body {
    background: #EBEBEB;
}
/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10000;
}
#nav {
    text-align: center;
    margin: 5px;
}
#nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav ul li a {
    display: inline-block;
    padding: 20px 30px;
    color: #3C6B56;
    font-family: 'Jura';
    font-size: 22px;
    font-weight: 100;
}
/* menu-trigger */
/* 메뉴 */
.menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;
    width: 35px;
    height: 44px;
    display: none;
    position: relative;
    width: 35px;
    height: 44px;
    margin-top: 4vw;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    display: none;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(227, 227, 227, 0.6);
    border-radius: 4px;
    color: #3c6b56;
  }
  
  .menu-trigger span:nth-of-type(1) {
    top: 0;
    background-color: #3c6b56;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 7px;
    background-color: #3c6b56;
  }
  
  .menu-trigger span:nth-of-type(3) {
    bottom: 26px;
    background-color: #3c6b56;
  }
  
  .menu-trigger.active-1 span:nth-of-type(1) {
    transform: translateY(15px) rotate(-45deg);
    background-color: #3c6b56;
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
    background-color: #3c6b56;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    transform: translateY(1px) rotate(45deg);
    background-color: #3c6b56;
  }

@media (max-width: 540px) {
    #header #nav ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
      position: relative;
      z-index: 99999;
    }
    #header #nav li {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    #header #nav ul.active {
      display: block;
      left: 50%;
      top: 31vw;
      width: 100%;
      background: rgba(227, 227, 227, 0.6);
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: -1;
    }
    #header #nav li a {
      font-size: 4vw;
    }
    .menu-trigger span,
    .menu-trigger {
      display: block;
      right: -88vw;
      z-index: 1;
    }
  }
/* container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
/* sec1_1  */
.section1 {
    
    position: relative;
}

.sec1_text {
    height: 100vh;
    position: relative;
}
.sec1_text_wrap {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

}
.sec1_text h1 {
    white-space: nowrap;

}
.sec1_text em {
    font-size: 17vw;
    color: #3c6b56;
    font-family: "Partizeno";
}
.sec1_text em span {
    display: inline-block;
}
.sec1_text p {
    position: absolute;
    left: 0;
    bottom: -5vh;
    font-size: 1.3vw;
    font-family: 'GmarketSans';
    font-weight: 300;
    color: #3c6b56;
}
.sec1_text p span {
    display: block;
}
.sec1_text strong {
    font-size: 3vw;
    color: #B99E56;
    font-family: "Saint Monica";
}
#canvas_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sec1_about {
    padding: 200px 0;
    width: 100%;
    overflow: hidden;
}
.sec1_about h2 {
    font-size: 14vw;
    color: #3C6B56;
    font-family: "Partizeno";
    line-height: 1.2;
    font-weight: 100;

}
.sec1_about p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 20px;
    line-height: 1.6;
    font-weight: 100;

}
.sec1_about .imgWrap {
    margin: 100px 0 100px -300px;
    height: 400px;
    overflow: hidden;
    width: 3000px;
}
.sec1_about .imgWrap > div {
    float: left;
    width: 700px;
    height: 100%;
    margin-right: 1%;
    background: url(../img/img002.jpg) no-repeat center top -200px;
    background-size:cover;
}
.sec1_about .imgWrap > div:nth-child(2){
    background: url(../img/img001.JPG) no-repeat center top -200px;
    background-size:cover;
  
}
.sec1_about .imgWrap > div:nth-child(3){
   
    background: url(../img/img004.jpg) no-repeat center top -300px;
    background-size: cover;
}
/* section2 */
.section2 {
    position: relative;
}
.section2 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section2 .pin-wrap .sec2_1  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_2  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_3  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .pin-wrap .sec2_4  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section2 .sec2_title {
    position: absolute;
    left: 0; top: 0;
    color: #3C6B56;
    font-family: "Partizeno";
    font-weight: normal;
    font-size: 10vh;
    height: 20vh;
    padding-left: 3vh;
    padding-right: 3vh;
}
.sec2_title h2 {
    font-weight: 100;
}
.site {
    display: flex;
    flex-wrap: wrap;
}
.site .left {
    width: 80%;
    height: 100%;
}
.site .left.bg1 {
    background: url(../img/web01.jpg) no-repeat;
    background-size: cover;
}
.site .left.bg2 {
    background: url(../img/web02.jpg) no-repeat;
    background-size: cover;
}
.site .left.bg3 {
    background: url(../img/img07.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}
.site .left.bg4 {
    background: url(../img/apple.jpg) no-repeat;
    background-size: cover;
    background-position:bottom;
}
.site .right {
    width: 20%;
    height: 100%;
    white-space: normal;
    padding: 0 2% 2% 2%;
}
.site .right h3 {
    color: #3C6B56;
    font-family: "Partizeno";
    font-size: 2vw;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.site .right p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;

}
.site .right ul {
    margin-top: 20px;
    padding-left: 20px;
}
.site .right li {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    list-style-type: disc;
    font-weight: 100;

}
.site .right .btn {
    margin-top: 20px;
}
.site .right .btn a {
    background: #3C6B56;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
/* section3 */
.section3 {
    height: 500px;
}
/* section4 */
.section4 {
    position: relative;
}
.section4 .sec4_title {
    position: absolute;
    left: 0; top: 0;
    color: #3C6B56;
    font-family: "Partizeno";
    font-weight: normal;
    font-size: 10vh;
    height: 20vh;
    padding-left: 3vh;
    padding-right: 3vh
}
.sec4_title h2 {
    font-weight: 100;
}
.section4 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section4 .pin-wrap .sec4_1 {
    min-width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_2 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_3 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.section4 .pin-wrap .sec4_4 {
    min-width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    height: 60vh;
}
.script > div .script_img {
    width: 100%;
    height: 45vh;
}
.script > div .script_img iframe {
    width: 100%;
    height: 100%;
}
.script > div h3 {
    color: #3C6B56;
    font-family: "Partizeno";
    font-weight: 100;
    font-size: 3vw;
    line-height: 1;
    text-transform: capitalize;
    margin: 4vh 0 2vh;
    text-align: center;
}
.script > div p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-weight: 100;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    width: 40vw;
    margin: 0 auto;
}
/* section5 */
.section5 {
    height: 500px;  
}
/* section6 */

.section6 {
    position: relative;
}
.section6 .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section6 .pin-wrap .sec6_1  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section6 .pin-wrap .sec6_2  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
.section6 .pin-wrap .sec6_3  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
}
/* .section6 .pin-wrap .sec6_4  {
    min-width: 90vw;
    height: 80vh;
    margin-top: 20vh;
} */
.section6 .sec6_title {
    position: absolute;
    left: 0; top: 0;
    color: #3C6B56;
    font-family: "Partizeno";
    font-weight: normal;
    font-size: 10vh;
    height: 20vh;
    padding-left: 3vh;
    padding-right: 3vh;
}
.sec6_title h2 {
    font-weight: 100;
}
.site02 {
    display: flex;
    flex-wrap: wrap;
}
.site02 .left {
    width: 80%;
    height: 100%;
}
.site02 .left.bg1 {
    background: url(../img/react.jpg) no-repeat;
    background-size: cover;
}
.site02 .left.bg2 {
    background: url(../img/php.jpg) no-repeat;
    background-size: cover;
}
.site02 .left.bg3 {
    background: url(../img/vue.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}
/* .site02 .left.bg4 {
    background: url(../img/flex.jpg) no-repeat;
    background-size: cover;
} */
.site02 .right {
    width: 20%;
    height: 100%;
    white-space: normal;
    padding: 0 2% 2% 2%;
}
.site02 .right h3 {
    color: #3C6B56;
    font-family: "Partizeno";
    font-size: 2vw;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.site02 .right p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;

}
.site02 .right ul {
    margin-top: 20px;
    padding-left: 20px;
}
.site02 .right li {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    list-style-type: disc;
    font-weight: 100;

}
.site02 .right .btn {
    margin-top: 20px;
}
.site02 .right .btn a {
    background: #3C6B56;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
/* section7 */
.section7 {
    margin-top: 50vh;
}

/* .reference .view {
    background: #3C6B56;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    padding: 15px 90px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5vh;
}
.sec7_1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.sec7_title {
    font-family: "Partizeno";
    font-weight: normal;
    font-size: 10vh;
    color: #3C6B56;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15vh;
}
.sec7_1 h3 {
    font-size: 7vh;
    font-family: "Partizeno";
    font-weight: normal;
    color: #3C6B56;
    text-align: center;
    display: inline-block;
    
}
.reference .bg1 {
    background: url(../img/flexrefe.png) no-repeat;
    background-size:cover;
    width: 60vw;
    height: 40vw;
    display: inline-block;
}
.sec7_1 p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;
}
.sec7_2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 15vh;
}

.sec7_2 h3 {
    font-size: 7vh;
    font-family: "Partizeno";
    font-weight: normal;
    color: #3C6B56;
    text-align: center;
    display: inline-block;
    
}
.reference .bg2 {
    background: url(../img/gridrefe.png) no-repeat;
    background-size:cover;
    width: 60vw;
    height: 40vw;
    display: inline-block;
}
.sec7_2 p {
    color: #3C6B56;
    font-family: 'IropkeBatang';
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100;
} */



/* footer */
.section8 {
    height: 70vh;
}
#footer {
    display: flex;
    position: relative;
    flex-direction: row-reverse
}
#footer h3,
#footer .email {
  font-size: 8vw;
  font-family: "Partizeno";
  font-weight: 100;
  line-height: 1;
  color: #3c6b56;
  margin-top: 17vw;
}
#footer .email {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#footer .num {
  margin-top: 5vw;
  font-family: "Saint Monica";
  font-size: 1vw;
  color: #3c6b56;
  display: flex;
  flex-direction: column;
}
#footer .blog {
  font-family: "Saint Monica";
  font-size: 1vw;
  color: #3c6b56;
  display: flex;
  justify-content: flex-end;
  margin-top: -2.2vw;
}
#footer .blog li {
  margin-left: 6vh;
}
#footer .meimg {
    margin-top: 10em;
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 600px;
    /* margin-right: 1%; */
    background: url(../img/me.jpg) no-repeat center;
    background-size:cover;
}


