* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3c6b56;
}
body {
  background-color: #ebebeb;
  height: 10000px;
  color: #3c6b56;
}
#header {
  width: 100%;
  height: 100px;
}
#header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-trigger {
  margin-right: 70px;
  margin-bottom: 50px;
  width: 35px;
  height: 44px;
  display: none;
  position: relative;
  width: 35px;
  height: 44px;
  margin-top: 4vw;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  display: none;
}
.menu-trigger span {
  position: absolute;
  left: 70vw;
  width: 100%;
  height: 4px;
  background-color: #d1c5c5;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 7px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 26px;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(1px) rotate(45deg);
}

/*  */
#header .menu ul {
  display: flex;
  padding-left: 0;
  background-color: rgba(235, 235, 235, 0.76);
}
#header .menu li {
  /* padding: 8px 12px; */
  padding: 0.5vw 0.8vw;
}
#header .menu li a {
  padding: 2vw 2vw;
  display: inline-block;
  font-family: "Jura";
  color: #3c6b56;
  font-size: 1.3rem;
}
#banner {
  position: relative;
  margin-top: 8rem;
}
#banner h2 {
  font-size: 22vw;
  text-align: center;
  font-family: "Partizeno";
  color: #3c6b56;
  font-weight: normal;
  line-height: 130%;
  margin-right: 10px;
}

#banner h2::before {
  content: "WELCOME TO MY PORTFOLIO \A WE WILL BECOME A DEVELOPING FRONTEND";
  font-size: 1vw;
  font-family: "GmarketSans";
  position: absolute;
  margin-top: 23vw;
  text-align: left;
  text-transform: uppercase;
  white-space: pre;
  line-height: 1.5;
  letter-spacing: 0.01em;
  font-weight: 100;
}

#banner h2::after {
  content: "2022";
  font-size: 2vw;
  font-family: "Saint Monica";
  color: #b99e56;
}
#banner span {
  font-size: 3rem;
  font-family: "Saint Monica";
  color: #b99e56;
  position: absolute;
  margin-top: 7rem;
}
#banner p {
  font-family: "GmarketSans";
  font-weight: 300;
  line-height: 150%;
  color: #3c6b56;
  position: absolute;
  margin-left: 11em;
  margin-top: -4vw;
  font-size: 1.4rem;
}
.one {
  width: 42.5vw;
  height: 42.5vw;
  border-radius: 50%;
  opacity: 0.1;
  border: solid 1px #3c6b56;
  position: absolute;
  background-color: transparent;
  z-index: -1;
  left: 41%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.two {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  opacity: 0.1;
  border: solid 1px #3c6b56;
  position: absolute;
  background-color: transparent;
  z-index: -1;
  left: 56%;
  bottom: 71%;
  transform: translate(-50% -50%);
}
@media (max-width: 500px) {
  #banner {
    margin-top: 5vw;
  }
  #header .menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
    z-index: 99999;
  }
  #header .menu li {
    width: 100%;
    text-align: center;
  }
  #header .menu ul.active {
    display: block;
    position: absolute;
    margin-top: 40vw;
  }
  #header .menu li a {
    font-size: 4vw;
  }
  .menu-trigger span,
  .menu-trigger {
    display: block;
    right: 20vw;
  }
}

/* ABOUT */
#about {
}
.about__cont {
  margin-top: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__text h3 {
  font-weight: 100;
  font-size: 13vw;
  font-family: "Partizeno";
  margin-bottom: 30px;
}
.about__text {
  flex: 0 0 100%;
}
.about__text p {
  font-weight: 100;
  width: 80%;
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  font-size: 1.3rem;
}
/* slider */
.slider__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider__inner:nth-child(1) .slider {
  margin: 0 auto;
  margin-left: 1vw;
}
.slider__img {
  /*화면 보이는 구간*/
  position: relative;
  width: 800px;
  height: 320px;
}
.slider__inner {
  /*이미지 움직이는 영역*/
  position: relative;
  display: flex;
  width: 2400px; /*이미지 총 길이*/
  left: -800px;
}
.slider__inner.transition {
  transition: all 600ms;
}
.slider {
  width: 800px;
  position: relative;
}
.slider__btn a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 50px;
  transition: all 0.2s;
  display: block;
  color: #fff;
  text-decoration: none;
}
.slider__btn a.prev {
  left: 0;
}
.slider__btn a.next {
  right: 0;
}

/* Site */
#Site {
  margin-top: 20vw;
}
#Site h3 {
  font-weight: 100;
  font-size: 13vw;
  font-family: "Partizeno";
  margin-bottom: 2vw;
}
#Site ul {
  display: flex;
  margin-bottom: 2vw;
}
#Site li {
  margin-right: 2vw;
}
#Site li a {
  font-family: "Partizeno";
  display: inline-block;
  font-size: 1.5rem;
  color: #3c6b56;
}
#Site .desc {
  font-weight: 100;
  /* width: 50%; */
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 1.3rem;
}

/* card__text01 */
.card__text01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20vw;
}
.web__img01 img {
  flex: 0 0 65%;
}

.card__text01 .right {
  flex: 0 0 30%;
}
.card__text01 .right .title {
  font-size: 5vw;
  font-weight: 100;
  font-family: "Partizeno";
  margin-left: 0.5vw;
}
.card__text01 .right .sub {
  font-family: "ChosunNm";
  font-size: 1.3rem;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  /* width: 90%; */
}
.card__text01 .web__img01 {
  position: relative;
}
.card__text01 .view {
  margin-left: 1.6rem;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1.3;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.card__text01 .view::after {
  content: "";
  /* background-color: rgba(60, 107, 86, 0.5); */
  background-color: rgba(60, 107, 86, 0.5);
  /* background-color: #3c6b56; */
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

/* card__text02 */
.card__text02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20vw;
}
.web__img02 img {
  flex: 0 0 65%;
}

.card__text02 .left {
  flex: 0 0 30%;
}
.card__text02 .left .title {
  font-size: 5vw;
  font-weight: 100;
  font-family: "Partizeno";
  margin-left: 0.5vw;
}
.card__text02 .left .sub {
  font-family: "ChosunNm";
  font-size: 1.3rem;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  /* width: 90%; */
}
.card__text02 .web__img02 {
  position: relative;
}
.card__text02 .view {
  margin-left: 1.6rem;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1.3;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.card__text02 .view::after {
  content: "";
  /* background-color: rgba(60, 107, 86, 0.5); */
  background-color: rgba(60, 107, 86, 0.5);
  /* background-color: #3c6b56; */
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

/* card__text03  */
.card__text03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20vw;
}
.web__img01 img {
  flex: 0 0 65%;
}

.card__text03 .right {
  flex: 0 0 30%;
}
.card__text03 .right .title {
  font-size: 5vw;
  font-weight: 100;
  font-family: "Partizeno";
  margin-left: 0.5vw;
}
.card__text03 .right .sub {
  font-family: "ChosunNm";
  font-size: 1.3rem;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  font-weight: 200;
  /* width: 90%; */
}
.card__text03 .web__img03 {
  position: relative;
}
.card__text03 .view {
  margin-left: 1.6rem;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1.3;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.card__text03 .view::after {
  content: "";
  /* background-color: rgba(60, 107, 86, 0.5); */
  background-color: rgba(60, 107, 86, 0.5);
  /* background-color: #3c6b56; */
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

/* card__text04*/
.card__text04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20vw;
}
.web__img04 img {
  flex: 0 0 65%;
}

.card__text04 .left {
  flex: 0 0 30%;
}
.card__text04 .left .title {
  font-size: 5vw;
  font-weight: 100;
  font-family: "Partizeno";
  margin-left: 1.6vw;
}
.card__text04 .left .sub {
  font-family: "ChosunNm";
  font-size: 1.3rem;
  margin-top: 2vw;
  margin-left: 1.6vw;
  line-height: 1.6;
  /* width: 90%; */
}
.card__text04 .web__img04 {
  position: relative;
}
.card__text04 .view {
  margin-left: 1.6rem;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1.3;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.card__text04 .view::after {
  content: "";
  /* background-color: rgba(60, 107, 86, 0.5); */
  background-color: rgba(60, 107, 86, 0.5);
  /* background-color: #3c6b56; */
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

/* card__text05 */
.card__text05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 20vw;
}
.web__img05 img {
  flex: 0 0 65%;
}

.card__text05 .right {
  flex: 0 0 30%;
}
.card__text05 .right .title {
  font-size: 5vw;
  font-weight: 100;
  font-family: "Partizeno";
  margin-left: 0.5vw;
}
.card__text05 .right .sub {
  font-family: "ChosunNm";
  font-size: 1.3rem;
  margin-top: 2vw;
  margin-left: 1vw;
  line-height: 1.6;
  /* width: 90%; */
}
.card__text05 .web__img05 {
  position: relative;
}
.card__text05 .view {
  margin-left: 1.6rem;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Partizeno";
  line-height: 1.3;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.card__text05 .view::after {
  content: "";
  /* background-color: rgba(60, 107, 86, 0.5); */
  background-color: rgba(60, 107, 86, 0.5);
  /* background-color: #3c6b56; */
  width: 10vw;
  height: 10vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 960px) {
  .card__text01,
  .card__text03 {
    flex-direction: column;
  }
  .card__text02,
  .card__text04 {
    flex-direction: column-reverse;
  }
  .card__text01 .right {
    margin-top: 5vw;
  }
  .card__text02 .left {
    margin-top: 5vw;
  }
  .view {
    left: 45%;
  }
}

/* script */
#Script {
  display: flex;
  flex-direction: column;
  margin-top: 20vw;
}
#Script h3 {
  text-align: right;
  font-weight: 100;
  font-size: 13vw;
  font-family: "Partizeno";
  margin-bottom: 2vw;
}
#Script ul {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 2vw;
}
#Script li {
  margin-right: 2vw;
}
#Script li a {
  font-family: "Partizeno";
  display: inline-block;
  font-size: 1.5rem;
  color: #3c6b56;
  line-height: 1.6;
}
#Script .desc {
  text-align: right;
  font-weight: 100;
  /* width: 50%; */
  font-family: "ChosunNm";
  margin-bottom: 5vw;
  line-height: 1.6;
  color: #3c6b56;
  font-size: 1.3rem;
}
