body {
    background: #ebebeb;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    overscroll-behavior: none;
}
iframe {
  width: 100%;
  height: 50vh;
}
/* scroll */
  section:not(#sectionPin) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    /* padding: 50px 0; */
    margin: auto;
    /* place-items: center; */
  }
  img {
    height: 80vh;
    width: auto;
    object-fit: cover;
  }

  #sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
  }

  .pin-wrap {
    /* height: 100vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 10vw; */

  }
  .pin-wrap > * {
    min-width: 80vw;
    /* padding: 0 3vw;*/
    margin-right: 10rem;
  }


  #sectionPin05 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
  }
  .section5 .pin-wrap05 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .pin-wrap05 > * {
    min-width: 70vw;
    /* padding: 0 5vw; */
    padding-right: 5vw;
  } 

  #sectionPin07 {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
  }

  .pin-wrap07 {
    /* height: 100vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 10vw; */

  }
  .pin-wrap07 > * {
    min-width: 80vw;
    /* padding: 0 3vw;*/
    margin-right:23rem;
  }

  /* nav */
#nav ul {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: rgba(227, 227, 227, 0.6); */
    z-index: 99999;
}
#nav ul li {
    padding: 20px;  
}
#nav ul li a {
    font-family: "Jura";
    font-size: 23px;
    font-weight: 100;
    color: #3c6b56;
}

/* banner */
  #banner {
    height: 90vh;
  }
  .banner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #banner em {
    font-family: "Partizeno";
    font-size: 20vw;
    color: #3c6b56;
    line-height: 1.3;
    font-weight: 100;
  }
  #banner strong {
    font-family: "Saint Monica";
    font-size: 2vw;
    line-height: 1.3;
    color: #b99e56;
    font-weight: 100;
    position: absolute;
    bottom: 6vw;
  }
  .banner__text .one {
    position: absolute;
    font-family: "Gmarket Sans";
    line-height: 1.5;
    /* font-size: 2.5vh; */
    font-size: 1.2vw;
    font-weight: 300;
    text-transform: uppercase;
    color: #3c6b56;
    bottom: -3vw;
    margin-left: 0.1vw;
  }
  .banner__text .two {
    position: absolute;
    font-family: "Gmarket Sans";
    line-height: 1.5;
    font-size: 1.2vw;
    font-weight: 300;
    text-transform: uppercase;
    bottom: -5vw;
    color: #3c6b56;
    margin-left: -1vw;
  }

  /* about */
  #about {
    width: 100%;
    height: 60vw;
  }
  #about .title {
    color: #3c6b56;
    font-size: 15vw;
    /* font-size: 25vh; */
    line-height: 1.3;
    font-weight: 100;
    font-family: "Partizeno";
    margin-top: 26px;

  }
  #about .desc {
    line-height: 1.6;
    font-weight: 100;
    color: #3c6b56;
    font-size: 2vh;
    font-family: "ChosunNm";
  }
  .about__img {
      width: 100%;
      height: 50vh;
      /* background-color: #ccc; */
      margin-top: 10vh;  
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1%;

    
  }
  .about__img div:nth-child(1)   {
    background: url(../img/me02.jpg) no-repeat ;
    width: 60vh;
    height: 40vh;
    background-size:cover;

  }
  .about__img div:nth-child(2) {
    background: url(../img/img004.jpg) no-repeat center bottom / 20px;
    width: 60vh;
    height: 40vh;
    background-size:cover;
  } 
  .about__img div:nth-child(3) {
    background: url(../img/img001.jpg) no-repeat center;
    width: 60vh;
    height: 40vh;
    background-size:cover;
  } 
  .about__img div:nth-child(4) {
    background: url(../img/img002.jpg) no-repeat;
    width: 60vh;
    height: 40vh;
    background-size:cover;
  } 
 /* btn */
  .btn {
    margin-top: 20px;

  }
  .btn a {
    font-family: "ChosunNm";
    font-size: 1vw;
    line-height: 1.6;
    color: #fff;
    width: 65%;
    padding:3px 0;
    text-align: center;
    display: block;
    border: 1px solid #3c6b56;
    background-color: #3c6b56;
    margin: 10px auto;
  }
  /* section3 */
  .section3 .title {
    color: #3c6b56;
    font-size: 8vw;
    line-height: 1.3;
    font-weight: 100;
    font-family: "Partizeno";
  }
  .section3 .sec03_1 {
    display: flex;
    align-items: flex-start;
    gap: 3%;
  }
  .sec03_1 .site_img {
    flex: 0 0 60%;
  }
  .sec03_1 .text {
    display: flex;
    flex-direction: column;
    /* width: 23%; */
    flex: 0 0 30%;
  }
  .sec03_1 .text h3 {
    font-size: 2vw;
    font-family: "Partizeno";
    color: #3c6b56;
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
  }
  .sec03_1 .text p {
    font-family: "ChosunNm";
    font-size: 1vw;
    line-height: 1.6;
    color: #3c6b56;
    margin-top: 0.9vw;
    margin-left: 20px;
  }
  .sec03_1 .text ul {
    font-family: "ChosunNm";
    font-size: 1vw;
    margin-top: 0.9vw;
    margin-left: 20px;
    line-height: 1.6;
    color: #3c6b56;
  }


/*  */
.section3 .sec03_2 {
  display: flex;
  align-items: flex-start;
  gap: 3%;
}
.sec03_2 .site_img {
  flex: 0 0 60%;
}
.sec03_2 .text {
  display: flex;
  flex-direction: column;
  /* width: 23%; */
  flex: 0 0 30%;
}
.sec03_2 .text h3 {
  font-size: 2vw;
  font-family: "Partizeno";
  color: #3c6b56;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}
.sec03_2 .text p {
  font-family: "ChosunNm";
  font-size: 1vw;
  line-height: 1.6;
  color: #3c6b56;
  margin-top: 0.9vw;
  margin-left: 20px;
}
.sec03_2 .text ul {
  font-family: "ChosunNm";
  font-size: 1vw;
  margin-top: 0.9vw;
  margin-left: 20px;
  line-height: 1.6;
  color: #3c6b56;
}
  
  /* section4 */
  .section4 {
    height: 50px;
  }

  /* section5 */
  #script .text {
    height: 30vh;
  }
  .section5 .title {
    color: #3c6b56;
    font-size: 8vw;
    line-height: 1.3;
    font-weight: 100;
    font-family: "Partizeno";
  }
  .sec05_1 h3,
  .sec05_2 h3,
  .sec05_3 h3,
  .sec05_4 h3 {
    font-size: 3vw;
    font-family: "Partizeno";
    color: #3c6b56;
    font-weight: 100;
    line-height: 1.6;
    margin-left: 20px;
    text-align: center;
  }
  .sec05_1 p,
  .sec05_2 p,
  .sec05_3 p,
  .sec05_4 p {
    margin: 0 auto;
    text-align: center;
    font-family: "ChosunNm";
    font-size: 1vw;
    margin-top: 0.9vw;
    margin-left: 2vw;
    line-height: 1.6;
    color: #3c6b56;
  }
/*  */

  /* section7 */

  .section7 .title {
    color: #3c6b56;
    font-size: 8vw;
    line-height: 1.3;
    font-weight: 100;
    font-family: "Partizeno";
  }
  .section7 .sec07_1 {
    display: flex;
    align-items: flex-start;
    gap: 3%;
  }
  .sec07_1 .site_img {
    flex: 0 0 60%;
  }
  .sec07_1 .text {
    display: flex;
    flex-direction: column;
    /* width: 23%; */
    flex: 0 0 30%;
  }
  .sec07_1 .text h3 {
    font-size: 2vw;
    font-family: "Partizeno";
    color: #3c6b56;
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
  }
  .sec07_1 .text p {
    font-family: "ChosunNm";
    font-size: 1vw;
    line-height: 1.6;
    color: #3c6b56;
    margin-top: 0.9vw;
    margin-left: 20px;
  }



  .section7 .sec07_2 {
    display: flex;
    align-items: flex-start;
    gap: 3%;
  }
  .sec07_2 .site_img {
    flex: 0 0 60%;
  }
  .sec07_2 .text {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
  }
  .sec07_2 .text h3 {
    font-size: 2vw;
    font-family: "Partizeno";
    color: #3c6b56;
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
  }
  .sec07_2 .text p {
    font-family: "ChosunNm";
    font-size: 1vw;
    line-height: 1.6;
    color: #3c6b56;
    margin-top: 0.9vw;
    margin-left: 20px;
  }

  /* 3 */
  .section7 .sec07_3 {
    display: flex;
    align-items: flex-start;
    gap: 3%;
  }
  .sec07_3 .site_img {
    flex: 0 0 60%;
  }
  .sec07_3 .text {
    display: flex;
    flex-direction: column;
    /* width: 23%; */
    flex: 0 0 30%;
  }
  .sec07_3 .text h3 {
    font-size: 2vw;
    font-family: "Partizeno";
    color: #3c6b56;
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
  }
  .sec07_3 .text p {
    font-family: "ChosunNm";
    font-size: 1vw;
    line-height: 1.6;
    color: #3c6b56;
    margin-top: 0.9vw;
    margin-left: 20px;
  }
